<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="dark bg-card dark:border-b">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <div class="flex items-center">
                            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                                Gestion Groupes
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded bg-accent-600"
                        mat-flat-button
                        [color]="'accent'"
                        [routerLink]="'/admin'">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:library'"></mat-icon>
                        <span class="ml-2">Administration</span>
                    </button>

                    <button
                        class="mx-6"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="openComposeDialog()">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2">Ajouter</span>
                    </button>

                </div>
            </div>
            <!-- Project selector -->

        </div>
    </div>

    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
    >

        <!-- Drawer -->
        <mat-drawer
            class="w-full sm:w-128 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Groupes</div>

                    </div>
                    <!-- Actions -->
                </div>

                <!-- Tasks list *ngIf="tasks && tasks.length > 0; else noTasks" /[cdkDropListData]="tasks"
                        (cdkDropListDropped)="dropped($event)"-->
                <ng-container >
                    <div
                        class="divide-y"
                        cdkDropList
                    >

                        <!-- Task -->
                        <ng-container *ngFor="let group of groups">
                            <div
                                [id]="'task-' + group.id"
                                class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover"
                                [ngClass]="{'h-12 text-lg font-semibold bg-gray-50 dark:bg-transparent': group.id === 'section',
                                            'h-16': '',
                                            'text-hint': ''}"
                                cdkDrag
                            >


                                <!-- Task content -->
                                <div class="relative flex items-center h-full pl-10">

                                    <ng-container *ngIf="groupM && groupM.id === group.id">
                                        <div class="z-10 absolute -top-px right-0 -bottom-px flex flex-0 w-1 bg-primary"></div>
                                    </ng-container>


                                    <!-- Complete task button -->
                                    <button
                                        class="mr-2 -ml-2.5 leading-none"
                                        (click)="change(group.id)"
                                        mat-icon-button>
                                        <ng-container *ngIf="group.condition" >
                                            <mat-icon
                                                class="text-primary"
                                                [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                        </ng-container>
                                        <ng-container  *ngIf="!group.condition">
                                            <mat-icon
                                                class="text-hint"
                                                [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                        </ng-container>
                                    </button>

                                    <!-- Task link -->
                                    <div

                                               class="flex flex-auto items-center min-w-0 h-full pr-7"
                                        >
                                        <!-- Title & Placeholder -->
                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container >
                                                <h2>{{group.name_grp}}:</h2>
                                                <span>{{group.desc_grp}}</span>

                                            </ng-container>

                                        </div>
                                        <!-- Priority -->
                                        <!-- Due date -->

                                    </div>
                                    <button
                                        class="mr-2 -ml-2.5 leading-none"
                                        (click)="update(group.id)"
                                        mat-icon-button>
                                    <ng-container  >
                                        <mat-icon
                                            class="text-hint"
                                            [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                    </ng-container>
                                    </button>
                                    <button data-toggle="modal" data-target="#exampleModalCenter"
                                        class="mr-2 -ml-2.5 leading-none"
                                        (click)="selectToDelete(group.id)"
                                        mat-icon-button>
                                        <ng-container  >
                                            <mat-icon
                                                class="text-hint"
                                                [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                        </ng-container>
                                    </button>
                                    <button data-toggle="modal" data-target="#detail"
                                            class="mr-2 -ml-2.5 leading-none"
                                            (click)="getGRID(group.id)"

                                            mat-icon-button>
                                        <ng-container  >
                                            <mat-icon
                                                class="text-hint"
                                                [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                        </ng-container>
                                    </button>
                                    <button
                                            class="mr-2 -ml-2.5 leading-none"
                                            (click)="affectation(group.id)"
                                            mat-icon-button>
                                        <ng-container  >
                                            <mat-icon
                                                class="text-hint"
                                                [svgIcon]="'heroicons_outline:cog'"></mat-icon>
                                        </ng-container>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                </ng-container>

                <ng-template #noTasks>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon
                            class="icon-size-24"
                            [svgIcon]="'iconsmind:bulleted_list'"></mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Add a task to start planning!</div>
                    </div>
                </ng-template>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Supprimer le Groupe</h1>
                    <p>Êtes-vous sûr de vouloir supprimer cet groupe ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-danger"(click)="onDelete(IDDelete)" data-dismiss="modal">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="detailTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
                    <h5 class="modal-title" id="detailTitle">Detail groupe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-span-12">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title class="font-medium leading-tight">Roles</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngFor="let faq of groupM.roles">
                            <span class="text-4xl">.</span>  {{faq.name_roles}}
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title class="font-medium leading-tight">Utlisateurs</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngFor="let faq of groupM.users">
                            <span class="text-4xl">.</span>  {{faq.first_name}} {{faq.name_user}}
                        </div>

                    </mat-expansion-panel>

                </div>

            </div>
        </div>
    </div>

</div>
