
<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">S'inscrire</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Vous avez déjà un compte?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']">S'identifier
                </a>
            </div>
            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
            <br>
            <br>
            <!-- Sign Up form -->
            <div
                class="mt-8"
            > <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <!--name-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                            [placeholder]="'Nom de votre entreprise'"

                      type="text" placeholder=" " id="name"/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--siret-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            formControlName="siret" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.siret.errors }"
                            [placeholder]="'Siret'"
                            id="siret"  type="text" placeholder=" " [(ngModel)]="companies.siret"/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:qrcode'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--mail-->

                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto">
                        <input
                            matInput
                            formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            [placeholder]="'Votre email professionnelle'"
                            id="email"  type="text" [(ngModel)]="companies.email" />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    </mat-form-field>
                </div>
                <!--pwd-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                            [placeholder]="'Mot de passe'"
                            id="password"  type="text" [(ngModel)]="companies.pwd"
                            type="password"

                            #passwordField/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:key'"></mat-icon>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 7 characters</div>
                            <div *ngIf="f.password.errors.maxlength">Password must be at least 16 characters</div>
                        </div>
                    </mat-form-field>

                </div>

                <!--confirmer pwd-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            formControlName="confirmerPwd" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmerPwd.errors }"
                            [placeholder]="'Comfirmez votre mot de passe'"
                            id="confirmerPwd" type="text" [(ngModel)]="companies.confirmPassword"
                            type="password"

                            #passwordField/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:key'"></mat-icon>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </mat-form-field>

                </div>

                <!--fonction-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            formControlName="fonction" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.fonction.errors }"
                            [placeholder]="'Fonction'"
                            id="fonction"  type="text" [(ngModel)]="companies.fonction"/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--responsable-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            formControlName="responsable" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.responsable.errors }"
                            [placeholder]="'Responsable'"
                            id="responsable"  type="text" placeholder=" " [(ngModel)]="companies.responsable"/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--address-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            formControlName="address" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                            [placeholder]="'Adresse'"
                            id="address"type="text" placeholder=" " [(ngModel)]="companies.address"/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--phone-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto">
                        <input
                            matInput
                            formControlName="phone" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                            [placeholder]="'N° télèphone'"
                            id="phone" type="text" [(ngModel)]="companies.phone" />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                    </mat-form-field>
                </div>

                <!--fax-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto">
                        <input
                            matInput
                            formControlName="fax" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.fax.errors }"
                            [placeholder]="'N°fax'"
                            id="fax"  type="text" placeholder=" " [(ngModel)]="companies.fax" />

                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            >camera_roll</mat-icon>
                    </mat-form-field>
                </div></form>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="'/sign-in'"
                    >
                    <span>
                         Créez votre compte gratuit
                    </span>

                </button>

            </div>
        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div class="w-50">
                    <img src="assets/images/logoImage.png">
                </div>                <div>Bienvenue!</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">

            </div>
            <div class="flex items-center mt-8">

            </div>
        </div>
    </div>
</div>
