<div class="flex flex-col max-w-240 md:min-w-160 -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Postuler</div>
        <button
            mat-icon-button
            (click)="Close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <div
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
    >


        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-select [placeholder]="'Competance file'" [(ngModel)]="demandeComp.compId" multiple>

                    <mat-option *ngFor="let rolee of compL " [value]="rolee"> {{rolee.name}}</mat-option>

                </mat-select>

                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>

        </div>


        <div class="flex items-center mt-4 sm:mt-0">

            <button *ngIf="compL.length===0"
                class="order-first sm:order-last"
                mat-flat-button
                [color]="'primary'"
                    (click)="Go()"
                [routerLink]="'/apps/CompetencesFiles/ajouter'" >
                Creer cv
            </button>

            <button
                class="order-first sm:order-last"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/apps/profil/postule'"
                (click)="Affectation()">
                Sauvegarde
            </button>
        </div>
    </div>
</div>
