<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">S'inscrire</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Vous avez déjà un compte?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']">S'identifier
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
<br>
            <br>

            <!-- Sign Up form -->
            <div
                class="mt-8"
                >
                <div class="flex flex-auto items-end -mt-16">
                    <div class="relative flex items-center justify-center w-10 h-10 rounded-full overflow-hidden ring-4 ring-bg-card">
                        <!-- Upload / Remove avatar -->
                        <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                        <div class="absolute inset-0 flex items-center justify-center z-20">
                            <div>
                                <input
                                    id="avatar-file-input"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    type="file"
                                    [(ngModel)]="userM.picture"
                                    [multiple]="false"
                                    [accept]="'image/jpeg, image/png'"
                                    (change)="uploadAvatar(avatarFileInput.files)"
                                    #avatarFileInput>
                                <label
                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                    for="avatar-file-input"
                                    matRipple>
                                    <mat-icon
                                        class="text-white"
                                        [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                               </label>
                            </div>
                        </div>

                    </div> <label class="flex items-baseline m-4  mt-4 font-medium">  Choisissez une image</label>

                </div>
                <!--name-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            [placeholder]="'Nom'"
                            id="name" class="input" type="text" placeholder=" " [(ngModel)]="userM.name_user"/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--Firstname-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            [placeholder]="'Prenom'"
                            id="Firstname" class="input" type="text" placeholder=" " [(ngModel)]="userM.first_name"/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>

                </div>
                <!-- title-->
                 <div class="flex flex-col gt-xs:flex-row">
                     <mat-form-field class="flex-auto gt-xs:pr-3">
                         <input
                             matInput
                             [placeholder]="'Titre'"
                             id="title" class="input" type="text" placeholder=" " [(ngModel)]="userM.title"/>
                         <mat-icon
                             class="icon-size-5"
                             matPrefix
                             [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                     </mat-form-field>

                 </div>
                <!--pays-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            [placeholder]="'Pays'"
                            id="pays" class="input" type="text" placeholder=" " [(ngModel)]="userM.pays"/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--description-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            [placeholder]="'Description'"
                            id="description" class="input" type="text" placeholder=" " [(ngModel)]="userM.description"/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--login-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            [placeholder]="'Login'"
                            id="login" class="input" type="text" placeholder=" " [(ngModel)]="userM.login" />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:login'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--pwd-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            [placeholder]="'Mot de passe'"
                            id="password" class="input" type="text" placeholder=" " [(ngModel)]="userM.pwd"
                            type="password"

                            #passwordField/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:key'"></mat-icon>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                    </mat-form-field>

                </div>

                <!--repeat pwd-->

                <!--gender-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-select [placeholder]="'sexe'" [(ngModel)]="userM.gender">
                            <mat-option value="Homme">Homme</mat-option>
                            <mat-option value="Femme">Femme</mat-option>

                        </mat-select>

                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--dateB-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            [matDatepicker]="birthdayDatepicker"
                            [(ngModel)]="userM.date_birth"
                            [placeholder]="'Date de naissance'"
                        >
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="birthdayDatepicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #birthdayDatepicker></mat-datepicker>

                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--age-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            matInput
                            [placeholder]="'Age'"
                            id="age" class="input" type="text" placeholder=" " [(ngModel)]="userM.age"/>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>

                </div>
                <!--mail-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto">
                        <input
                            matInput
                            [placeholder]="'Addresse mail'"
                            id="mail" class="input" type="text" placeholder=" " [(ngModel)]="userM.email" />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    </mat-form-field>
                </div>
                <!--phone-->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto">
                        <input
                            matInput
                            [placeholder]="'N° télèphone'"
                            id="phone" class="input" type="text" placeholder=" " [(ngModel)]="userM.phone" />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                    </mat-form-field>
                </div>


                <!-- Password field<mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"

                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field> -->






                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="'/sign-in'"
                    (click)="signUp();openSnackBar()">
                    <span>
                         Créez votre compte gratuit
                    </span>

                </button>

            </div>
        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div class="w-50">
                    <img src="assets/images/logoImage.png">
                </div>                <div>Bienvenue!</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">

            </div>
            <div class="flex items-center mt-8">

            </div>
        </div>
    </div>
</div>
